/* line 1, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box {
  margin: 0 auto;
  padding: 24px 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

/* line 14, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.logo-box {
  text-align: center;
}

/* line 19, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.logo-box h1 {
  color: #3f4040;
}

/* line 23, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.logo-box h3 {
  color: #909090;
}

/* line 27, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box form {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #cccccc;
}

/* line 35, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box form > {
  width: 300px;
}

/* line 39, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box .textbox {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

/* line 48, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box .submit, .logout-button {
  padding: 12px;
  border-radius: 5px;
  background-color: #ffcc00;
  font-size: 18px;
  text-align: center;
  color: white;
  z-index: 2;
}

/* line 58, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box .submit:hover, .logout {
  background-color: #f4b800;
  cursor: pointer;
}

/* line 63, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box .bottom a {
  color: #c60;
}

/* line 67, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
.login-box .bottom {
  margin-top: 16px;
  width: 300px;
  display: flex;
  justify-content: center;
  color: #666666;
}

/* line 76, /Users/aa/Desktop/Hoppd/app/assets/stylesheets/login.scss */
::placeholder {
  color: #cccccc;
}
