footer {
  
  nav, .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    height: 150px;
    padding: 20px;
    background-color: #1e1f1d;
  }
  
  .social {
    height: 74px;
    background-color: #fbfbfb;
    
    img {
      height: 40px;
    }
  }

  a {
    margin: 0 20px; 
    font-size: 22px;
    color: #ffffff;
  }
  
  img:hover, a:hover {
    opacity: .5;
  }  
}