.submit, .logout {
  background-color: #ffcc00;
}

.submit:hover, .logout:hover {
  background-color: #f4b800;
  cursor: pointer
}



::placeholder, .select-date label, .select-date .empty {
  color: #cccccc;
}

.errors {
  margin-bottom: 16px;
  padding: 15px;
  border-radius: 2px;
  background: #e25858;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.errors ul {
 width: 100%;
}