#background {
  padding-top: 80px;
  width: 100%;
  min-height: calc(100vh - 224px);
  background: #f5f2e8;

  display: flex;
  justify-content: center;
}

.content {  
  padding: 0 10px;
  width: 100%;
  max-width: 1050px;
  
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 65%;

  > * {
    margin-bottom: 16px;
  }
}

.sidebar {
  width: 30%;
}