.button {
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.submit {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffcc00;
  font-size: 18px;
  text-align: center;
  color: white;

  &:hover {
    background-color: #f4b800;
    cursor: pointer;
  }
}

.login-box, .signup-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  .logo-box {
    text-align: center;

    h1 {
      color: #3f4040;
    }

    h3 {
      color: #909090;
    }
  }

  .errors {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 2px;
    background: #e25858;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    
    ul {
      width: 100%;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ::placeholder, .select-date label, .select-date .empty {
      color: #cccccc;
    }
  }
}

.login-box {
  width: 400px;
  padding: 24px 48px;
  
  .textbox {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }

  hr {
    width: 100%;
    margin: 10% 0 5%;
    border-bottom: .5px solid #ddd;
  }
  
  .bottom {
    margin-top: 16px;
    width: 300px;
    display: flex;
    justify-content: center;
    color: #666666;
    font-weight: bold;

    :last-child {
      color: #c60;
      cursor: pointer;
    }
  }
}

.signup-box {
  width: 600px;
  padding: 24px 16px;

  font-size: 14px;

  form {
    width: 570px;

    .submit { width: 50%; }
  }
  .info-section {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .textbox, .select-date {
    margin-bottom: 8px;
    padding: 6px 8px;
    width: 45%;
    height: 33px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }

  .select-date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    
    select {
      appearance: none;
      -webkit-appearance: none;
    }
  }

  .select-span {
    position: relative;
    
    ::after {
      margin: 0 10px 0 5px;
      content: "▼";
      color: #ffcc00;
      font-size: 11px;
    }
  }

  .field-req {
    margin-bottom: 16px;
    padding: 15px;
    color: #666666;
    font-weight: bold;
  }

  .pass-req {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }

  .terms {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
  }
}

.demo-login {
  width: 100%;
  margin: 16px 0;
  background-color: #354d89;

  &:hover {
    background : #2b3e6e;
    cursor: pointer;
  }
}