body {
  font-family: 'Muli', sans-serif;
  background-color: lightgray;
  color: black;
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, .5)), url(brklyn_tap.jpg);
  background-size: cover;
  background-position: center;
}

.session.masthead {
  min-height: 100vh;
}

.masthead-content {
  // height: 600px;
  display: flex;
  justify-content: center;

  .left {
    img { width: 50% }
  }
}

.masthead-content > section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.masthead-content h1, .logo-box h1, .signin-logo-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.masthead-content h3, .logo-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.masthead-content h2 {
  margin: 20px;
  font-size: 35px;
  font-weight: 700;
}

.short-rule {
  margin: 0 auto;
  width: 50px;
  height: 4px;
  background: #ffc000;
}

.masthead-content-right {
  min-width: 570px;
}

.cellphone-image {
  margin-bottom: 50px;
  width: 570px;
}

.beer-splash {
  margin-bottom: 50px;
  width: 570px;
}

.splash-search, .features {
  background-color: #fff;
}

.splash-search {
  height: 80px;
}

.features {
  height: 580px;
  border-top: 2px solid #e7e7e7;
  background-color: #fbfbfb;
}

.tertiary {
  height: 480px;
  background-color: #fff;
}