.beer-info-box {
  padding: 16px;

  // width: 90%;

  // display: flex;
  // flex-direction: column;

  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);

  color: #999;
}

.top, .details {
  margin-bottom: 16px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.basic-info {
  display: flex;
  justify-content: flex-start;
}

.basic-info .logo {
  padding-right: 10px;

  width: 95px;
  // height: 95px;
}

.info h1 {
  margin-bottom: 6px;
  font-size: 32px;
  color: #000;
}

.info h2 {
  margin-bottom: 6px;
  font-size: 20px;
  color: #c60;
}

.info h3 {
  font-size: 16px;
  color: #888;
}

.stat-box {
  width: 200px;
  height: 95px;

  display: flex;
  flex-wrap: wrap;
}

// .stat-box div {
//   padding: 6px;
//   width: 50%;

//   display: flex;
//   flex-direction: column;
// }

// .stat-box div:nth-child(-n+2) {
//   border-bottom: 1px solid #eee;
// }

// .stat-box div:nth-child(odd) {
//   border-right: 1px solid #eee;
// }

// .stat-box div span:nth-child(odd) {
//   font-size: 11px;
// }

// .stat-box div span:nth-child(even) {
//   font-size: 22px;
// }

// .stat-box div:last-child span:last-child {
//   color: #c60;
// }

.details {
  display: flex;

  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;

  font-size: 16px;
}

.details span {
  padding: 12px;

  width: 25%;

  text-align: center;
}

.details span:nth-child(n+2) {
  border-left: 1px solid #e9e9e9;
}

.bottom {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
}

.bottom-description {
  margin-bottom: 16px;
  width: 100%;
}

.actions {
  // width: 130px;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
}

.actions > * {
  margin-left: 10px;
  margin-bottom: 10px;

  width: 100px;
  height: 50px;

  text-align: center;

  background: #ffcc00;

  color: white;

  overflow: hidden;
  position: relative;
}

// .actions div:first-child > img {
//   margin: 25% auto;

//   height: 24px;
// }

// .actions div:last-child > img {
//   margin: 20% auto;

//   height: 28px;
// }

.actions div img {
  margin: 8% 0;
  -webkit-filter: invert(100%);
  transition: all .3s;
}

.actions div:last-child img {
  transform: rotate(45deg);
}

.check-icon:before {
  content: "Rate";
}

.bookmark-icon:before {
  content: "Save";
}

.edit-icon:before {
  content: "Edit";
}

.delete-icon:before {
  content: "Delete";
}

.actions div:before {
  position: absolute;
  left: 0;
  top: -150%;
  height: 100%; width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  transition: all .3s;
}

.actions div:hover {
  background: #f4b800
}

.actions div:hover:before {
  left: 0;
  top: 0;
  font-size: 24px;
  line-height: 50px;
}

.actions div:hover img {
  transform: translatey(150%);
}