.sidebar-content {
  padding: 16px;
  background: white
}

.sidebar-content h3 {
  padding-bottom: 6px;
  margin-bottom: 8px;
  font-size: 19px;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar .beer-info-box {
  padding: 0;
  margin-bottom: 16px;
  box-shadow: none;
}

.sidebar .logo {
  width: 50px;
}

.sidebar .beer-info-box .name { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .beer-info-box h1 {
  font-size: 18px;
  color: #cc6600;
}

.sidebar .beer-info-box h2 {
  font-size: 14px;
}
