header.home {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background: #ffcc00;
}

.navbar {
  padding: 0 12px;
  height: 50px;
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  
  // background: cadetblue;
  
  line-height: 50px;
  font-size: 18px;
  color: white;
}

.home .logo-box {
  // margin-right: 50px;
  line-height: normal;
}

.home-logo-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.home .logo-box h3 {
  font-size: 10px;
  color: white;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  position: relative;
  left: -30px;
}

.profile-dropdown {
  position: relative;
  right: -70px;
  // border: 1px solid white;
}

.profile-dropdown img {
  width: 35px;
  display: block;
  margin: 7.5px auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: -10px;
  z-index: 1;
  background: #2c2c2c;
  font-size: 17px;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > li {
  border-bottom: 1px solid #444;
  width: 200px;
}

.dropdown-menu a {
  padding: 12px;
  width: 200px;
}

.dropdown-menu a:hover {
  cursor: pointer;
}

.search-container {
  // background: white;
  color: black;
}

.home .search-container input {
  // margin-right: 10px;
  height: 35px;
  width: 240px;
  align-self: center;
  border-radius: 5px;
  background: white;
  background-image: image_url('mag-glass.png');

}

.search-results {
  background: white;
}