.login-box {
  margin: 0 auto;
  padding: 24px 16px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.logo-box {
  text-align: center;
}


.logo-box h1 {
  color: #3f4040;
}

.logo-box h3 {
  color: #909090;
}

.login-box form {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #cccccc;
}

.login-box form > {
  width: 300px;
}

.login-box .textbox {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.login-box .submit, .logout-button {
  padding: 12px;
  border-radius: 5px;
  background-color: #ffcc00;
  font-size: 18px;
  text-align: center;
  color: white;
  z-index: 2;
}

.login-box .submit:hover, .logout {
  background-color: #f4b800;
  cursor: pointer
}

.login-box .bottom a {
  color: #c60;
}

.login-box .bottom {
  margin-top: 16px;
  width: 300px;
  display: flex;
  justify-content: center;
  // text-align: center;
  color: #666666;
}

::placeholder, .select-date label, .select-date .empty {
  color: #cccccc;
}

.errors {
  margin-bottom: 16px;
  padding: 15px;
  border-radius: 2px;
  background: #e25858;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}