.login-box .textbox {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.button {
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.submit, .logout {
  background-color: #ffcc00;
}

.submit:hover, .logout:hover {
  background-color: #f4b800;
  cursor: pointer
}

.demo-login {
  margin: 16px 0 32px 0;
  background-color: #354d89;
}

.demo-login:hover {
  background: #2b3e6e;
  cursor: pointer;
}

.login-box .bottom a {
  color: #c60;
}

.login-box .bottom {
  margin-top: 16px;
  width: 300px;
  display: flex;
  justify-content: center;
  // text-align: center;
  color: #666666;
}

::placeholder, .select-date label, .select-date .empty {
  color: #cccccc;
}

.errors {
  margin-bottom: 16px;
  padding: 15px;
  border-radius: 2px;
  background: #e25858;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.errors ul {
 width: 100%;
}