.page {
  margin-top: 50px;
  width: 100%;
  min-height: calc(100% - 50px);
  position: absolute;
  background: #f5f2e8;

  display: flex;
  justify-content: center;

  z-index: -1;
}

.content {
  // border: 4px solid black;
  
  margin-top: 30px;
  padding: 0 10px;
  width: 100%;
  max-width: 1050px;
  
  display: flex;
  justify-content: space-between;
}

.main-content {
  // border: 4px solid indianred;
  width: 65%;
}

.sidebar {
  // border: 4px solid cadetblue;
  width: 300px;
}