* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  list-style: none;
}

title {
  display: none;
}
